.history .header {
  background-color: #f0f0f0;
  font-size: 1.5rem;
  padding: 1.5rem 4rem;
}

.history .about-content {
  border: 2px solid red;
  padding: 2rem 4rem;
}

.services {
  border: 2px solid palegoldenrod;
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  width: 50%;
}

.icon-box {
  border: 2px solid #ccc;
  background-color: red;
  display: flex;
  gap: 2rem;
}

.check-icon {
  width: 20px;
  height: 20px;
}
